# helpful command: git shortlog --summary --numbered --email
<jonas@vandenbe.com> <ungive@users.noreply.translate.codeberg.org>
<me@familymink5.kr> <FamilyMink5@users.noreply.translate.codeberg.org>
<info@canee.tech> <cane@noreply.codeberg.org>
